<div class="container">
    <form id="chat">
        <div class="row mt-4">
            <div class="col-sm">
                <input autocomple="off" autofocus required type="text" id="name" class="form-control" placeholder="Digite seu nome">
            </div>
        </div>
        <div class="render-parent row mt-2 p-2">
            <div id="render" class="col-sm bg-light rounded"></div>
        </div>
        <div class="row mt-2">
            <div class="col-sm">
                <input autocomple="off" required id="message" type="text" class="form-control" placeholder="Mensagem">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm">
                <div class="d-grid gap-2">
                    <button id="send" class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </div>
        </div>

    </form>
    <div class="row mt-2">
        <div class="col-sm" id="alert">

        </div>
    </div>
</div>
